node_modules/
openapi.json
*.e2e-spec.ts
!packages/test/test-app-express-cjs/**/*.e2e-spec.ts
generated/
!packages/test/test-app-express-cjs/generated
packages/test/test-app-express-esm/test/create-app.ts
packages/test/test-app-fastify-esm/test/create-app.ts
